/* -- --------START-ACADEMIC-CONTAINERS----- -- */
.academic {
  display: grid;
  grid-template-columns: 30% 60% 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'column1Container column2Container .';
 /*  height: 90vh; */
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
  );
  justify-items: center;
  align-items: center;
  color: white;
  position: relative;

  h1 {
    display: inherit;
    align-items: center;
  }
  button {
    outline: none;
    border: none;
    color: white;
    font-family: Segoe UI;
    font-weight: 400;
    margin: 0 1% 0 0;
  }
  button:hover {
    background: #3297cb;
  }
  button:active {
    background: #16162d;
  }

  a:hover {
    background: #3297cb;
  }
  a:active {
    background: #16162d;
  }
  a{
    color: rgb(63, 190, 233);
    background: #16162d;
  }
}
.column1Container {
  align-self: start;
  display: grid;
  grid-area: column1Container;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'buttonsContainer';
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
  );
  justify-items: center;
  color: white;
  font-family: Segoe UI;
  font-weight: 400;
  button {
    font-size: 1.4em;
  }
  a {
    font-size: 1.4em;
  }
}
.column2Container {
  width: 100%;
  height: 100%;
  grid-area: column2Container;
  display: flex;
  button {
    font-size: 1.4em;
  }
}
.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 20% 1fr 20% 1fr 20% 1fr 20% 1fr;
  grid-template-areas:
    '.'
    'titleAcademic'
    '.'
    'studyPlan'
    '.'
    'studyProgram'
    '.'
    'infoTeachers'
    '.';
  height: 90vh;
  width: 100%;
  justify-items: center;
  align-items: center;
}
/* -- --------END-ACADEMIC-CONTAINERS----- -- */

/* -- --------START-ACADEMIC-CONTENTS----- -- */
.studyPlan {
  width: 60%;
  height: 60%;
  grid-area: studyPlan;
  border-radius: 100px;
  background: #314d81;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.studyProgram {
  width: 60%;
  height: 60%;
  grid-area: studyProgram;
  border-radius: 100px;
  background: #314d81;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.titleAcademic {
  width: 60%;
  height: 60%;
  grid-area: titleAcademic;
  border-radius: 100px;
  background: #314d81;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.infoTeachers {
  width: 60%;
  height: 60%;
  grid-area: infoTeachers;
  border-radius: 100px;
  background: #314d81;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
/* -- --------END-ACADEMIC-CONTENTS----- -- */

/* -- --------START-CONTENTS-ACADEMIC-CONTENTS----- -- */
.titleContent {
  width: 100%;
  height: 100%;
  display: none;
}
.studyPlanContent {
  width: 100%;
  height: 100%;
  display: none;
}
.studyProgramContent {
  width: 100%;
  height: 100%;
  display: none;
  h1 {
    margin: 0.5em;
    font-size: 1.8em;
    color: gold;
  }
  p {
    font-size: 1.4em;
    font-weight: 600;
    margin: 1em;
  }
}
.optionsStudyProgramContent {
  width: auto;
  button {
    background: rgba(49, 49, 100, 1);
    width: 15%;
  }
}
.firstYearContentCB {
  display: none;
}
.secondYearContentCB {
  display: none;
}
.firstYearContentCS {
  display: none;
}
.secondYearContentCS {
  display: none;
}
.thirdYearContentCS {
  display: none;
}
.fourthYearContentCS {
  display: none;
}
//
.infoTeachersContent {
  width: 100%;
  height: 100%;
  display: none;
  p {
    font-size: 1.4em;
    font-weight: 600;
    margin: 1em;
  }
  h1 {
    margin: 0.5em;
    font-size: 1.8em;
    color: gold;
  }
}
.infoTeachersContent1 {
  display: none;
}
.infoTeachersContent2 {
  display: none;
}
.optionInfoTeachersContent {
  width: auto;
  button {
    background: rgba(49, 49, 100, 1);
    width: 15%;
  }
}
.backButtonDivices425px {
  display: none;
}
.max-width-425px {
  display: none;
}
/*------END-CONTENTS-ACADEMIC-CONTENTS------- */

@media screen and (max-width: 768px) {
  .academic {
    grid-template-columns: 30% 68% 1fr;
  }
  .column1Container {
    button {
      font-size: 1.25em;
    }
    a {
      font-size: 1.25em;
    }
  }
}
@media screen and (max-width: 425px) {
  .academic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'column1Container';
    justify-items: center;
    align-items: center;
    color: white;
  }
  .column1Container a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
  }
  .buttonsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20% 1fr 20% 1fr 20% 1fr 20% 1fr;
    grid-template-areas:
      '.'
      'titleAcademic'
      '.'
      'studyPlan'
      '.'
      'studyProgram'
      '.'
      'infoTeachers'
      '.';
    height: 90vh;
    width: 100%;
    justify-items: center;
    align-items: center;
    font-size: 1em;
  }
  .studyProgramContent {
    font-family: Barlow Condensed;
    overflow-y: scroll;
    align-content: flex-start;
    p a {
      outline: none;
      border: none;
      color: revert;
      font-family: Barlow Condensed;
      font-weight: 500;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .infoTeachersContent {
    font-family: Barlow Condensed;
    overflow-y: scroll;
    font-size: 20px;
    outline: none;
    border: none;
    align-content: flex-start;
    a {
      color: revert;
      font-size: 22px;
    }
    h1 {
      font-size: 24px;
      margin: 0;
    }
    p {
      font-size: 22px;
    }
  }
  .backButtonDivices425px {
    background: #3297cb;
    z-index: 0;
    border-radius: 100px;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 40px;
    right: 0;
  }
  .optionInfoTeachersContent button {
    font-size: 1em;
  }
}
@media screen and (max-width: 321px) {
  .studyProgramContent {
    font-size: 0.9em;
  }
  .btna a {
    font-size: 1.4em;
  }
}
