@import "variables.scss";
/* --------------START-HERO----------- */
// body {
//   background: chartreuse  ;
// }
.hero {
  display: flex;
  position: relative;
}
/* START-CARROUSEL-HERO */
.carrousel {
  width: 100%;
  overflow: hidden;
  figure {
    width: 500%;
    position: relative;
    margin: 0%;
    left: 0;
    animation: 20s carrousel infinite;
  }
  img {
    width: 20%;
    float: left;
  }
}
.carrousel figure img {
  width: 20%;
}
@keyframes carrousel {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*END-CARROUSEL-HERO*/
.heroImageContainer {
  width: 100%;
  height: 599px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  figure {
    margin: 0;
  }
}
/* --------------END-HERO-----------  */
/* --------------------START-NEWS--------------------*/
.sectionNews {
  background: linear-gradient(
    135deg,
    rgba(50, 151, 203, 1) 0%,
    rgba(49, 49, 100, 1) 100%
  );
  height: auto;
  width: 100%;
}
.containerNewsCoursel {
  position: relative;
  padding: 0 3% 1% 3%;
  height: auto;
}
.carousel__siguiente,
.carousel__anterior {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  display: block;
  z-index: 1;
  position: absolute;
  right: 1%;
  top: 50%;
  font-size: 30px;
}
.carousel__anterior {
  left: 1%;
}
.carousel__siguiente {
  transform: rotate(180deg);
}
.carousel__anterior:hover,
.carousel__siguiente:hover {
  // opacity: 100%;
  color: #ffffff70;
  border: none;
  outline: none;
  background: none;
}
.titleNews {
  h1 {
    font-size: 3em;
    margin: 0 0 0 2%;
    color: $tituloAmarillo;
  }
}
.link1 {
  font-size: 1.5em;
}
.linkNews {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  margin: 0%;
  h1 {
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.linkNews:hover {
  color: #7b1e1e;
}
.carouselIndicate {
  width: 20px;
  height: 20px;
  /* color: #a0b2c2; */
  background: #cc3233;
}
/* ----------START-CSS-GRID-NEWS---------- */
.carouselList {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 33.3%;
  width: auto;
  justify-items: center;
/*   overflow-x: hidden; */
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.titleNew {
  padding: 0 6%;
  h1 {
    font-size: 1.5em;
    transition: 0.3s;
    height: 72px;
    text-align: center;
  }
  a {
    font-size: 1.2em;
    transition: 0.3s;
  }
}
.new {
  display: inline-block;
  margin: 0% 0% 4% 0%;
  width: 380px;
  height: 252px;
}
.newImageContainer {
  width: 370px;
  height: 180px;
  cursor: pointer;
  position: relative;
  margin: auto;
}
.newImagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.layerNew {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 163, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  h2 {
    margin-top: 5%;
    transition: all 500ms ease-out;
  }
}
.newImageContainer:hover > .layerNew {
  opacity: 1;
  visibility: visible;
}

.newImageContainer:hover > .layerNew h2 {
  margin-top: 15%;
  // margin-bottom: 10%;
}
/* ----------START-CSS-GRID-NEWS---------- */
/* --------------------END-NEWS--------------------*/

/* ----------START-ABOUT---------- */
.about {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  min-height: 480px;
}
.aboutImageContainer {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.abouTextContainer {
  background: linear-gradient(180deg, hsla(0, 0%, 5%, 0) 29.9%, #4e5e6d);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    text-align: center;
    font-size: 73px;
    color: #314d81;
    margin: 1em auto 0;
  }
  h2 {
    text-align: center;
    font-family: "roboto";
    font-size: 2.7em;
    text-shadow: 0px 3px 6px #000;
    margin: 0px 20% 0.7em;
  }
}
/* ----------END-ABOUT---------- */
/* RESPONSIVE-START */
@media screen and (max-width: 1024px) {
  .abouTextContainer h2 {
    margin: 0px 10% 0.7em;
  }
  .carouselList {
    // grid-gap: 0 5%;
    grid-auto-columns: 50%;
  }
}
@media screen and (max-width: 768px) {
  .about {
    height: 90vh;
  }
  .abouTextContainer h2 {
    margin: 0px 5% 0.7em;
  }
  .newImageContainer {
    width: 320px;
    height: 150px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }
  .carousel__anterior {
    transform: rotate(180);
    left: 1%;
  }
  .carousel__siguiente {
    right: 1%;
  }
  .new {
    display: inline-block;
    margin: 0;
    // width: 380px;
    width: 360px;
    height: 252px;
  }
  .carousel__siguiente,
  .carousel__anterior {
    display: none;
    top: 50%;
  }
  .carouselList {
    overflow-y: hidden;
    padding: 0;
    grid-gap: 0;
  }
  // .new {
  //   width: 360px;
  // }
}
@media screen and (max-width: 695px) {
  .abouTextContainer {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 1.7em;
    }
  }
  .about {
    height: 80vh;
  }
}
@media screen and (max-width: 545px) {
  .abouTextContainer h2 {
    margin: 0 0 1em;
  }
}
@media screen and (max-width: 700px) {
  .titleNew a h1 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 425px) {
  .titleNews h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 2.5em;
  }
  .new {
    width: 400px;
  }
  .carouselList {
    grid-auto-columns: unset;
  }
}
@media screen and (max-width: 375px) {
  .abouTextContainer {
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 1.4em;
    }
  }
  .titleNews h1 {
    font-size: 2.5em;
  }
  .new {
    width: 353px;
  }
}
@media screen and (max-width: 320px) {
  .abouTextContainer {
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 1.4em;
    }
  }
  .newImageContainer {
    width: 280px;
    height: 160px;
    cursor: pointer;
    position: relative;
    margin: auto;
  }
  .new {
    width: 300px;
  }
}
/* RESPONSIVE END*/
