@import 'variables.scss';
.content {
  background: $degradado;
  min-height: 40vh;
}
.photos {
  column-count: 4;
  column-gap: 10px;
  padding: 0 90px 20px;
  margin-top: 1em;

  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    box-shadow: 2px 2px 6px #000;

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      max-width: 100%;
      display: block;
      background-color: silver;
    }
  }
}
.btnPhotosContent {
  display: inline;
  width: 100%;
  height: 10vh;
  padding-left: 3em;

  button {
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: bold;
    cursor: pointer;
    margin: 0 1% 1% 0;
    background: #314d81;
    padding: 1.5em;
    border-radius: 100px;
  }
  button:hover {
    background: #3297cb;
  }
  button:active {
    background: #16162d;
  }
}
.pageTitle {
  color: $azulOscuro;
  font-size: 48px;
  padding: 0.5em 0 0.5em 2em;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .photos {
    padding: 0 55px 20px;
  }
  .pageTitle {
    font-size: 40px;
    padding: 0.5em 0 0.5em 1em;
  }
  .btnPhotosContent {
    padding-left: 2em;
  }
}
@media screen and (max-width: 768px) {
  .photos {
    padding: 0 20px 20px;
  }
  .pageTitle {
    padding: 0.5em 0 0.5em 0.5em;
  }
  .btnPhotosContent {
    padding-left: 1em;
    button {
      padding: 1em;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 767px) {
  .photos {
    column-count: 3;
  }
}
@media screen and (max-width: 450px) {
  .photos {
    column-count: 2;
  }
  .btnPhotosContent {
    padding-left: 1em;
    button {
      padding: 1em;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 320px) {
  .content {
    min-height: 30vh;
  }
  .btnPhotosContent {
    padding-left: 1em;
    button {
      padding: 1em;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
