@import 'variables.scss';
.content {
  background: $degradado;
}
.photos {
  column-count: 4;
  column-gap: 10px;
  padding: 0 90px 20px;

  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    box-shadow: 2px 2px 6px #000;

    img {
      grid-row: 1 / -1;
      grid-column: 1;
      max-width: 100%;
      display: block;
      background-color: silver;
    }
  }
}
button {
  outline: none;
  border: none;
  color: white;
  font-family: Segoe UI;
  font-weight: 400;
  cursor: pointer;
  margin: 0 1% 0 0;
  background: #314d81;
}
button:hover {
  background: #3297cb;
}
button:active {
  background: #16162d;
}
.year2000 {
  width: 50%;
  height: 50%;
}
.pageTitle {
  color: $azulOscuro;
  font-size: 48px;
  padding: 0.5em 0 0.5em 2em;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .photos {
    padding: 0 55px 20px;
  }
  .pageTitle {
    font-size: 40px;
    padding: 0.5em 0 0.5em 1em;
  }
}
@media screen and (max-width: 768px) {
  .photos {
    padding: 0 20px 20px;
  }
  .pageTitle {
    padding: 0.5em 0 0.5em 0.5em;
  }
}
@media screen and (max-width: 767px) {
  .photos {
    column-count: 3;
  }
}
@media screen and (max-width: 450px) {
  .photos {
    column-count: 2;
  }
}
